<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
	<% if(oneblog!=null) { %>
		<div class="card mb-3">
		<img class="card-img-top" src="/img/<%= oneblog.blogimage %>" alt="Card image cap">
			<div class="card-block">
			<h4 class="card-title"><%= oneblog.title %></h4>
			<p class="card-text"><%= oneblog.teaser %></p>
            <p></p>
            <p class="card-text"><%= oneblog.details %></p>
			<p class="card-text"><small class="text-muted"><%= oneblog.datepublished %></small></p>
			<div class="card-block">
			<a href="/getblog/<%= oneblog._id %>" class="card-link">Update blog</a>
			<a href="/deleteblog/<%= oneblog._id %>/<%= oneblog.blogimage %>" class="card-link">Delete blog</a>
            </div>
			</div>
		</div>
		<%}%>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>