<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
        <% include ../partials/header %>
	</header>

	<main>
        <div class="container">
		<h1 class="text-center">Your Profile Settings</h1>
            <% if(user!=null){ %>
		<div class="signup-wall">
            <form class="form-signin">
                <fieldset disabled>
                    <div class="form-group">
                        <label for="disabledTextInput">Username:</label>
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="<%= user.username %>">
                    </div>
                    <div class="form-group">
                        <label for="disabledTextInput">Email:</label>
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="<%= user.email %>">
                    </div>
                    <div class="form-group">
                        <label for="disabledTextInput">First Name:</label>
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="<%= user.firstname %>">                          
                    </div>
                    <div class="form-group">
                        <label for="disabledTextInput">Last Name:</label>
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="<%= user.lastname %>">                          
                    </div>                                                  
                    <div class="form-group">
                        <% if(datee!=null){ %>
                            <label for="disabledTextInput">Date of Birth:</label>
                            <input type="text" id="disabledTextInput" class="form-control" placeholder="<%= datee %>">
                        <%}%>                          
                    </div>
                    <div class="form-group">
                        <label for="disabledTextInput">Height:</label>
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="<%= user.height %>">                    
                    </div>
                    <div class="form-group">
                        <label for="disabledTextInput">Weight:</label>
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="<%= user.weight %>">          
                    </div>                          
                    <div class="form-group">
                        <label for="preference">Your Information preference:</label>
                        <% user.preference.forEach(function(pref) { %>
                    <div class="col-sm-10">
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="<%= pref %>">
                    </div>
                        <% }); %>
                    </div>
                    <div class="form-group">
                        <label for="disabledTextInput">PhoneNumber:</label>
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="<%= user.phonenumber %>">                               
                    </div>
                    <div class="form-group">
                        <label for="disabledTextInput">Means of Contact:</label>
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="<%= user.meansofcontact %>">                         
                    </div>
                    <div class="form-group">
                        <label for="address">Address:</label>
                    <div class="col-sm-10">
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="<%= user.address.streetaddress %>">
                    </div>
                    <div class="col-sm-10">
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="<%= user.address.city %>">
                    </div>
                    <div class="col-sm-10">
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="<%= user.address.region %>">
                    </div>
                    </div>
                
                </fieldset>
                    <a href="/updateuser" class="btn btn-primary">Update Your Settings</a>
                    </form>
                </div>          
                                                        
                    <%}%>
				</div>
		
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>